name: Arduino-lint

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events 
  push:
  pull_request:
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    
jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/arduino-lint-action@v1
        with:
          library-manager: update
          compliance: strict